<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/css/style2.css}">
</head>
<body>

<div class="post-feed" style="max-width: 440px;">
    <div class="list-head">
        <h1 class="title"><small>TEBEGRAM</small>Регистрация</h1>
    </div>

    <form id="register-form" class="add-comment">
        <label>
            Имя пользователя
            <input type="text" name="username" placeholder="Придумайте логин" required>
        </label>

        <label>
            Аватар
            <input type="file" name="userimage" accept="image/*">
        </label>

        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

        <label>
            Пароль
            <input type="password" name="password" placeholder="Придумайте пароль" required>
        </label>

        <button type="submit">Создать аккаунт</button>
    </form>


    <div id="register-response" style="opacity: 0; transition: opacity 1s ease; margin-top: 20px; text-align: center;"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@4/dist/fp.min.js" th:attr="nonce=${nonce}"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" th:attr="nonce=${nonce}"></script>
<script type="module" src="/axios.js" th:attr="nonce=${nonce}"></script>

<script type="module" src="/register.js" th:attr="nonce=${nonce}"></script>

</body>
</html>
